#AboutPage {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  @include hideScrollBar();

  section {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    overflow: hidden;
    z-index: 0;

    h1 {
      font-size: clamp(1.2em, 4vw, 3em);
      padding: 0px 5%;
    }
  }

  #InitSection {
    @include alignCenter();
    .InitLogo {
      position: absolute;
      top: clamp(20px, 2vw, 30px);
      left: clamp(20px, 2vw, 30px);
      width: clamp(50px, 5vw, 80px);
      height: clamp(35px, 5vw, 50px);

      svg {
        width: 100%;
        height: auto;
        fill: var(--SiteColor3);
        filter: drop-shadow(0px 0px 3px var(--SiteColor3));

        path {
          stroke: var(--SiteColor3);
        }
      }
    }

    .arrowText {
      position: absolute;
      width: clamp(110px, 15vw, 200px);
      height: clamp(70px, 15vw, 100px);
      top: 80px;
      right: 50px;
      font-size: clamp(0.8em, 2vw, 1.5em);
      // background-color: lightgreen;
      color: var(--SiteColor3);
      font-weight: bolder;
    }

    .arrowLottieBox {
      position: absolute;
      width: clamp(110px, 2vw, 200px);
      height: clamp(65px, 2vw, 100px);
      top: 200px;
      right: 5px;
      transform: rotateY(180deg) rotateZ(-60deg);

      svg {
        filter: drop-shadow(0px 0px 3px white);
      }
    }

    .outerCircle {
      position: relative;
      width: clamp(270px, 50vw, 650px);
      height: clamp(270px, 50vw, 650px);
      border-radius: 50%;
      @include alignCenter();
      background-color: transparent;
      // animation: rotate 20s linear infinite;

      .innerHiddenCircle {
        position: absolute;
        width: 50%;
        height: 50%;
        background-color: transparent;
        border-radius: 50%;
        @include alignCenter();
        opacity: 1;

        > * {
          position: absolute;
        }

        h2 {
          font-size: clamp(0.8em, 2vw, 1.7em);
          color: var(--SiteColor3);
          font-weight: bolder;
          text-align: center;
        }

        h3 {
          opacity: 0;
          font-size: clamp(1rem, 2vw, 2rem);
          font-weight: bolder;
          text-align: center;
        }

        #CodeBallText {
          text-decoration: underline rgb(237, 51, 51);
        }
        #MedBallText {
          text-decoration: underline rgb(56, 228, 125);
        }
        #WhyBallText {
          text-decoration: underline rgb(242, 150, 52);
        }
        #ModelingBallText {
          text-decoration: underline rgb(244, 244, 90);
        }
        #LangBallText {
          text-decoration: underline rgb(247, 71, 206);
        }
        #XpBallText {
          text-decoration: underline rgb(69, 223, 221);
        }
        #MusicBallText {
          text-decoration: underline rgb(50, 78, 235);
        }
        #DesignBallText {
          text-decoration: underline rgb(193, 75, 244);
        }
      }

      .CirclesBoxBox {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        @include alignCenter();
        z-index: 0;
        border-radius: 50%;
        overflow: visible;

        .CirclesBox {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: transparent;
          border-radius: 50%;
          @include alignCenter();
          pointer-events: none;

          span,
          a {
            position: absolute;
            background-color: var(--SiteColor3);
            box-shadow: 0px 0px 10px var(--SiteColor3);
            width: 12%;
            height: 12%;
            border-radius: 50%;
            cursor: pointer;
            @include alignCenter();
            transition: box-shadow 500ms;
            pointer-events: auto;

            svg {
              width: 60%;
              height: 60%;
              fill: var(--SiteColor1);
              opacity: 1;
              transition: fill 500ms;
            }

            &:hover {
              transition: box-shadow 500ms;
              svg {
                transition: fill 500ms;
              }

              + .innerHiddenCircle {
                h2 {
                  opacity: 0;
                }
              }
            }
          }

          .tcircle {
            top: 0;
            &:hover {
              box-shadow: 0px 0px 20px rgb(56, 228, 125);
              svg {
                fill: rgb(56, 228, 125);
              }
            }
          }
          .bcircle {
            transform: rotateZ(180deg);
            bottom: 0;
            &:hover {
              box-shadow: 0px 0px 20px rgb(244, 244, 90);
              svg {
                fill: rgb(244, 244, 90);
              }
            }
          }
          .lcircle {
            transform: rotateZ(-90deg);
            left: 0;
            &:hover {
              box-shadow: 0px 0px 20px rgb(247, 71, 206);
              svg {
                fill: rgb(247, 71, 206);
              }
            }
          }
          .rcircle {
            transform: rotateZ(90deg);
            right: 0;
            &:hover {
              box-shadow: 0px 0px 20px rgb(69, 223, 221);
              svg {
                fill: rgb(69, 223, 221);
              }
            }
          }

          .trcircle {
            transform: rotateZ(45deg);
            top: 13%;
            right: 13%;
            &:hover {
              box-shadow: 0px 0px 20px rgb(237, 51, 51);
              svg {
                fill: rgb(237, 51, 51);
              }
            }
          }
          .tlcircle {
            transform: rotateZ(-45deg);
            top: 13%;
            left: 13%;
            &:hover {
              box-shadow: 0px 0px 20px rgb(50, 78, 235);
              svg {
                fill: rgb(50, 78, 235);
              }
            }
          }
          .brcircle {
            transform: rotateZ(135deg);
            bottom: 13%;
            right: 13%;
            &:hover {
              box-shadow: 0px 0px 20px rgb(193, 75, 244);
              svg {
                fill: rgb(193, 75, 244);
              }
            }
          }
          .blcircle {
            transform: rotateZ(-135deg);
            bottom: 13%;
            left: 13%;
            &:hover {
              box-shadow: 0px 0px 20px rgb(242, 150, 52);
              svg {
                fill: rgb(242, 150, 52);
              }
            }
          }
        }
      }
    }

    .buttonsBox {
      position: absolute;
      left: 5%;
      bottom: 5%;
      height: clamp(50px, 5vw, 100px);
      width: 200px;
      @include alignCenter();

      button {
        @include MainButtonStyling();
        border-radius: 0px;
        @include alignCenter();
        p {
          position: absolute;
        }
      }
    }
  }

  #CodeSection {
    @include alignCenter();
    flex-direction: row-reverse;

    .bigBgCircle {
      z-index: 0;
      right: -25em;
      top: 5em;
      position: absolute;
      width: 50em;
      height: 50em;
      border-radius: 50%;
      //   background-color: rgba(249, 249, 32, 0.461);
      background: linear-gradient(
        to right,
        var(--SiteColor2),
        rgba(116, 245, 73, 0.461)
      );
    }
    .CodeTitle {
      position: relative;
      width: 40%;
      height: 100%;
      z-index: 1;
      @include alignCenter();

      h1 {
        font-weight: bolder;
        color: var(--SiteColor3);
        // font-size: clamp(1.5em, 4vw, 3em);
        padding: 5%;
        text-align: center;
      }
      .inputBox {
        width: 90%;
        height: 20%;
        @include alignCenter();

        span {
          @include alignCenter();
          justify-content: space-evenly;
          flex-direction: row;
          width: 70%;
          height: 30%;

          input {
            width: 20px;
            height: 20px;
          }
          label {
            font-size: clamp(0.7em, 2vw, 1.5em);
            font-weight: bolder;
            color: var(--SiteColor3);
          }
        }
      }
    }
    .allSoftwareBox {
      position: relative;
      width: 60%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
      overflow: auto;
      transform: skewX(3deg);
      @include hideScrollBar();

      span {
        flex: 1 1 300px;
        border-radius: 10px;
        margin: 15px;
        overflow: hidden;
        background-color: var(--SiteColor1);
        min-height: 80px;
        max-height: 200px;

        display: grid;
        grid-template-columns: 1fr 25%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "text imgBox"
          "pBar imgBox";

        p {
          position: relative;
          grid-area: text;
          @include alignCenter();
          font-weight: bolder;
          color: var(--SiteColor3);
          font-size: 1.1em;
          pointer-events: none;

          &::after {
            content: "-";
            position: absolute;
            top: 2px;
            left: 5px;
            font-weight: bolder;
            color: var(--SiteColor2);
          }
        }

        .progressBar {
          position: relative;
          grid-area: pBar;
          @include alignCenter();

          .outerBar {
            position: relative;
            width: 85%;
            height: 50%;
            border: 2px solid var(--SiteColor3);
            border-radius: 15px;
            @include alignCenter();
            align-items: flex-start;

            .innerBar {
              //   width: 90%;
              height: 50%;
              background-color: var(--SiteColor3);
              box-shadow: 0px 0px 3px var(--SiteColor3);
              border-radius: 15px;
              margin-left: 5px;
              transition: background-color 500ms;
            }
          }
        }

        .imgBox {
          position: relative;
          grid-area: imgBox;
          @include alignCenter();

          .imgContainer {
            position: relative;
            @include alignCenter();
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: transparent;
            transition: transform 500ms, background-color 500ms;
            background-color: var(--SiteColor2);
          }

          img {
            position: absolute;
            width: auto;
            height: 55%;
            opacity: 1;
            transition: opacity 500ms;
          }

          p {
            position: absolute;
            opacity: 0;
            color: black;
            -webkit-text-stroke: 0.5px black;
            transition: opacity 500ms;
            font-size: 1.2em;
            transform: rotateZ(180deg);
          }
        }

        &:hover {
          transition: transform 500ms;

          .progressBar .outerBar .innerBar {
            background-color: rgb(89, 250, 89);
            transition: background-color 500ms;
          }

          .imgBox .imgContainer {
            transform: rotateZ(180deg);
            background-color: rgb(89, 250, 89);
            transition: transform 500ms, background-color 500ms;

            img {
              opacity: 0;
              transition: opacity 500ms;
            }

            p {
              opacity: 1;
              transition: opacity 500ms;
            }
          }
        }
      }
    }
  }

  #MedSection {
    @include alignCenter();
    flex-direction: column;

    .bigBgCircle {
      top: -10em;
      left: -10em;
      z-index: 0;
      position: absolute;
      width: 40em;
      height: 40em;
      border-radius: 50%;
      background: linear-gradient(
        to left,
        var(--SiteColor2),
        rgba(242, 47, 47, 0.728)
      );
    }

    .TextSection {
      z-index: 1;
      width: 100%;
      height: 25%;
      @include alignCenter();
      justify-content: space-evenly;

      * {
        font-weight: bolder;
        color: var(--SiteColor3);
        text-align: center;
      }

      // h1 {
      //   font-size: 3em;
      // }
      p {
        font-size: clamp(0.57em, 2vw, 1.2em);
        padding: 0px 10%;
      }
    }

    .medDataBox {
      position: relative;
      width: 100%;
      height: 60%;
      @include alignCenter();
      flex-direction: row-reverse;
      justify-content: space-evenly;

      .medSubjects {
        position: relative;
        width: 40%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        overflow: scroll;

        span {
          position: relative;
          flex: 1 1 250px;
          min-height: 80px;
          overflow: hidden;

          h2 {
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.3);
            @include alignCenter();
            font-weight: bolder;
            font-size: 1.3em;
            color: black;
            transition: background-color 500ms;
            pointer-events: none;
          }

          img {
            z-index: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            filter: opacity(0.7);
            transition: transform 500ms;
          }

          // &:hover {
          //   h2 {
          //     background-color: rgba(255, 255, 255, 0.7);
          //     transition: background-color 500ms;
          //   }

          //   img {
          //     transform: scale(1.5);
          //     transition: transform 500ms;
          //   }
          // }
        }
      }

      .medLinkBox {
        position: relative;
        width: 40%;
        height: 100%;
        @include alignCenter();
        justify-content: space-around;
        // background-color: lightcoral;

        .lottieNotesAnim {
          position: relative;
          width: 100%;
          height: 70%;
          @include alignCenter();
          // background-color: lightskyblue;

          svg,
          img {
            height: 100%;
            width: auto;
          }
        }

        button {
          @include MainButtonStyling();
          padding: 0% 5%;
          text-align: center;
          width: 70%;
          // height: 60px;
        }
      }
    }
  }

  #LangSection {
    @include alignCenter();
    justify-content: space-evenly;

    h1 {
      width: 100%;
      height: 10%;
      font-weight: bolder;
      color: var(--SiteColor3);
      // font-size: 3em;
      text-align: center;
    }

    .langSelector {
      width: 90%;
      height: 10%;
      @include alignCenter();
      flex-direction: row;

      span {
        @include alignCenter();
        @include MainButtonStyling();
        width: 33%;
        border-radius: 0px;
        text-align: center;
        font-weight: bolder;
      }

      .langBClicked {
        background-color: var(--SiteColor3);
        color: var(--SiteColor1);
        -webkit-text-stroke: 0.5px var(--SiteColor1);
      }
    }
    .langDisplay {
      width: 90%;
      height: 60%;
      @include alignCenter();
      flex-direction: row;
      justify-content: space-between;

      .imgBox {
        position: relative;
        width: 65%;
        height: 100%;
        @include alignCenter();
        border: 2px solid var(--SiteColor3);
        border-radius: 10px;

        .swiper-container {
          width: 90%;
          height: 100%;

          .swiper-slide {
            width: 100%;
            height: 100%;
            @include alignCenter();

            img {
              height: 95%;
              width: auto;
            }
          }
        }
      }
      .textBox {
        position: relative;
        width: 30%;
        height: 100%;
        @include alignCenter();
        background-color: var(--SiteColor3);
        border-radius: 10px;

        ul {
          position: absolute;
          width: 90%;
          height: 90%;
          @include alignCenter();
          justify-content: space-around;

          li {
            width: 90%;
            height: 15%;
            background-color: transparent;
            font-size: 1em;
            font-weight: bolder;
            color: var(--SiteColor1);
            -webkit-text-stroke: 0.5px var(--SiteColor1);
            @include alignCenter();

            &:nth-child(1) {
              text-align: center;
              font-size: clamp(0.8em, 2vw, 1.6em);
            }
            &:nth-child(2) {
              height: 10%;
              background-color: transparent;
              border: 2px solid var(--SiteColor1);
              border-radius: 20px;
              @include alignCenter();
              align-items: flex-start;

              .innerBar {
                width: 100%;
                height: 80%;
                background-color: var(--SiteColor2);
                box-shadow: 0px 0px 10px var(--SiteColor2);
                border-radius: 20px;
                margin-left: 5px;
              }
            }
            &:nth-child(3) {
              height: 50%;
              text-align: justify;
              font-size: clamp(0.5em, 2vw, 1em);
            }
          }

          &:nth-child(1) {
            #outerBar .innerBar {
              width: 85%;
            }
          }
          &:nth-child(2) {
            #outerBar .innerBar {
              width: 95%;
            }
          }
          &:nth-child(3) {
            #outerBar .innerBar {
              width: 60%;
            }
          }
        }
      }
    }
  }

  #MusicSection {
    position: relative;
    @include alignCenter();
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
      position: relative;
      font-weight: bolder;
      color: var(--SiteColor3);
      // font-size: 3em;
      padding: 5%;
      text-align: center;
      @include alignCenter();
      width: 100%;
      height: 10%;
    }

    .MusicWrapper {
      position: relative;
      width: 100%;
      height: 80%;
      @include alignCenter();
      flex-direction: row;

      .MusicLeftBox {
        position: relative;
        @include alignCenter();
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;

        .imgBox1,
        .imgBox2,
        p {
          position: relative;
          width: 85%;
          height: 33%;
          @include alignCenter();
          flex-direction: row;
          font-size: clamp(0.8em, 2vw, 1.2em);
          font-weight: bolder;
          color: var(--SiteColor3);
          -webkit-text-stroke: 0.5px var(--SiteColor3);
          text-align: center;
          overflow: hidden;

          img {
            position: relative;
            width: 50%;
            height: 100%;
            opacity: 1;
            z-index: 1;
            transition: filter 500ms;
          }

          h4 {
            position: relative;
            width: 35%;
            height: 100%;
            background: var(--SiteColor3);
            color: var(--SiteColor1);
            -webkit-text-stroke: 0.5px var(--SiteColor1);
            @include alignCenter();
            font-size: clamp(0.9rem, 2vw, 1rem);
            text-align: center;
            padding: 3%;
            z-index: 0;
          }

          img:hover + h4 {
            transition: transform 500ms;
            transform: translateX(0%);
          }
          img:hover {
            transition: filter 500ms;
            filter: grayscale(100%);
          }
        }

        .imgBox1 {
          flex-direction: row;
          width: 100%;

          h4 {
            transform: translateX(-100%);
            transition: transform 500ms;
          }
        }
        .imgBox2 {
          flex-direction: row-reverse;
          width: 100%;

          h4 {
            transform: translateX(100%);
            transition: transform 500ms;
          }
        }
      }
      .MusicRightBox {
        position: relative;
        @include alignCenter();
        width: 50%;
        height: 100%;

        .imgBox3 {
          width: 80%;
          height: 100%;
          position: relative;
          @include alignCenter();
          // background: lightcoral;

          img {
            width: 90%;
            height: 90%;
            transition: filter 500ms;
          }

          &:hover {
            img {
              transition: filter 500ms;
              filter: grayscale(100%);
            }

            h4 {
              transition: opacity 500ms;
              opacity: 1;
            }
          }

          h4 {
            position: absolute;
            width: 90%;
            opacity: 0;
            height: 15%;
            top: 5%;
            background: rgba(0, 0, 0, 0.598);
            color: white;
            font-weight: bolder;
            @include alignCenter();
            padding: 2%;
            transition: opacity 500ms;
            font-size: 1rem;
          }
        }
      }
    }
  }

  #XpSection {
    @include alignCenter();
    flex-direction: row;

    .proyectBox {
      position: relative;
      width: 60%;
      height: 100%;
      @include alignCenter();
      flex-direction: column;
      justify-content: space-evenly;

      h1 {
        position: relative;
        font-weight: bolder;
        color: var(--SiteColor3);
        // font-size: 3em;
        padding: 5%;
        text-align: center;
        width: 100%;
        height: 15%;
        @include alignCenter();
      }

      .xpImgContainer {
        position: relative;
        width: 80%;
        height: 60%;
        @include alignCenter();
        border-radius: 5px;
        // transform: translate(0%, 0%);
        // background-color: lightyellow;

        .imgBox {
          position: relative;
          width: 100%;
          height: 80%;
          @include alignCenter();

          .logoBox {
            position: absolute;
            z-index: 1;
            top: 0px;
            right: 0px;
            width: 50px;
            height: 50px;
            display: none;
          }
          .swiper-container {
            position: relative;
            z-index: 0;
            width: 100%;
            height: 100%;
            @include alignCenter();

            .swiper-slide {
              position: relative;
              width: 100%;
              height: 100%;
              @include alignCenter();

              img {
                width: auto;
                height: 90%;
                transition: all 1s;
              }
            }
          }
        }
        .imgDescription {
          position: relative;
          width: 100%;
          height: 20%;
          @include alignCenter();
          text-align: center;
          font-weight: bolder;
          color: var(--SiteColor3);
          font-size: clamp(0.5rem, 2vw, 1rem);
        }
      }
    }
    .edXpBar {
      position: relative;
      width: 40%;
      height: 100%;
      @include alignCenter();
      justify-content: space-evenly;
      overflow: hidden;

      .bgRectangle {
        position: absolute;
        background-color: rgb(96, 96, 96);
        width: 80%;
        height: 100%;
      }

      #eduUL {
        li {
          &:hover {
            transition: background-color 500ms;
            background-color: #262424;
            -webkit-text-stroke: 0.5px white;
          }
        }

        .selected {
          background-color: lightgreen;
          h4,
          p {
            color: black;
          }
        }
      }
      #xpUL {
        li {
          &:hover {
            transition: background-color 500ms;
            background-color: #262424;
            -webkit-text-stroke: 0.5px white;
          }
        }
        .selected {
          background-color: lightskyblue;
          h4,
          p {
            color: black;
          }
        }
      }

      ul {
        position: relative;
        height: 45%;
        width: 80%;
        overflow-x: visible;
        @include alignCenter();
        justify-content: flex-start;
        gap: 1%;

        li {
          position: relative;
          @include alignCenter();
          z-index: 2;
          height: 20%;
          width: 100%;
          cursor: pointer;
          transition: background-color 500ms;
          justify-content: space-evenly;

          > * {
            width: 100%;
            padding: 0px 5%;
            pointer-events: none;
            transition: color 500ms;
            color: white;
          }

          h4 {
            font-weight: bolder;
            font-size: clamp(0.5em, 2vw, 1em);
            @include alignCenter();
            align-items: flex-start;
            height: 60%;
            // background: lightskyblue;
          }
          p {
            font-weight: bolder;
            font-size: clamp(0.4em, 2vw, 0.8em);
            @include alignCenter();
            align-items: flex-start;
            height: 40%;
            // background: lightcoral;
          }
        }

        #TitleBar {
          background-color: var(--SiteColor3);
          color: var(--SiteColor1);
          -webkit-text-stroke: 0.5px var(--SiteColor1);
          font-weight: bolder;
          text-align: center;
          height: 60px;
          width: 100%;
          font-size: clamp(0.9em, 2vw, 1.2em);
          cursor: auto;
          pointer-events: none;

          &::after {
            position: absolute;
            content: "";
            left: -30px;
            width: 30px;
            height: 100%;
            background-color: var(--SiteColor3);
          }

          &:hover {
            background-color: var(--SiteColor3);
          }
        }

        .Title3D {
          position: absolute;
          left: -26px;
          top: -21px;
          width: 50px;
          height: 30px;
          background-color: rgb(45, 44, 44);
          transform: rotateZ(-45deg);
          z-index: -1;
        }
      }
    }
  }

  #WhySection {
    @include alignCenter();
    flex-direction: row;

    .whyLeftBox {
      position: relative;
      width: 50%;
      height: 100%;
      @include alignCenter();
      justify-content: space-evenly;
      background-color: rgba(0, 0, 0, 0.714);
      backdrop-filter: blur(3px);

      h1 {
        // font-size: 3em;
        font-weight: bolder;
        color: white;
        -webkit-text-stroke: 0.5px white;
        text-align: center;

        strong {
          color: #0ee9da;
        }
      }

      p {
        font-size: clamp(0.5em, 2vw, 1.3em);
        font-weight: bolder;
        color: white;
        -webkit-text-stroke: 0.5px white;
        width: 80%;
        height: clamp(30%, 2vw, 40%);
        text-align: justify;

        strong {
          color: #0ee9da;
          -webkit-text-stroke: 0.5px #0ee9da;
        }
      }

      button {
        @include MainButtonStyling();
        // color: #0ee9da;
      }
    }
    .whyRightBox {
      position: relative;
      width: 50%;
      height: 90%;

      @include alignCenter();
      flex-direction: column;
      justify-content: space-evenly;

      span {
        position: relative;
        width: 90%;
        flex: 1;
        // min-height: 150px;
        @include alignCenter();
        align-items: flex-start;

        &:nth-child(2),
        &:nth-child(4) {
          align-items: flex-end;

          .textBox {
            align-items: flex-start;
          }
        }

        .svgBox {
          position: absolute;
          width: 110px;
          height: 110px;
          border-radius: 50%;
          background-color: var(--SiteColor3);
          z-index: 1;
          @include alignCenter();
          transition: background-color 500ms;

          svg {
            width: 50%;
            height: auto;
            fill: var(--SiteColor1);
            transition: fill 500ms;
          }
        }
        .textBox {
          z-index: 0;
          position: absolute;
          width: 100%;
          height: 70%;
          opacity: 1;
          border-radius: 50px;
          @include alignCenter();
          overflow: visible;
          align-items: flex-end;
          transition: background-color 500ms;
          background-color: var(--SiteColor3);

          h4 {
            position: absolute;
            width: 70%;
            height: 30%;
            font-weight: bolder;
            color: var(--SiteColor1);
            -webkit-text-stroke: 0.5px var(--SiteColor1);
            font-size: clamp(0.7em, 2vw, 1.5em);
            @include alignCenter();
            // background: lightcoral;
            // text-decoration: underline #0ee9da;
            opacity: 1;
            transition: opacity 500ms;
            pointer-events: none;
          }
          p {
            pointer-events: none;
            width: 75%;
            height: 80%;
            margin: 0px 5%;
            font-weight: bolder;
            color: var(--SiteColor3);
            font-size: clamp(0.45em, 2vw, 0.9em);
            @include alignCenter();
            // background: lightcoral;
            transition: font-size 1s;
          }
        }

        &:hover {
          .svgBox {
            background-color: var(--SiteColor1);
            transition: background-color 500ms;

            svg {
              fill: var(--SiteColor3);
              transition: fill 500ms;
            }
          }
          .textBox {
            background-color: var(--SiteColor1);
            transition: background-color 500ms;

            h4 {
              opacity: 0;
              transition: opacity 500ms;
            }
          }
        }
      }
    }
  }

  #DesignSection {
    @include alignCenter();
    justify-content: space-evenly;

    h1 {
      width: 100%;
      height: 15%;
      font-weight: bolder;
      color: var(--SiteColor3);
      // font-size: 3em;
      @include alignCenter();
      text-align: center;
    }

    .proyectsBox {
      position: relative;
      width: 95%;
      height: 70%;
      display: flex;
      flex-wrap: wrap;
      gap: 2.5%;

      .proyectBox {
        position: relative;
        flex: 1 1 200px;
        border: 2px solid var(--SiteColor3);
        @include alignCenter();
        justify-content: space-evenly;
        overflow: hidden;
        background-color: var(--SiteColor2);

        h2 {
          position: relative;
          color: var(--SiteColor3);
          font-weight: bolder;
          font-size: clamp(1em, 2vw, 2em);
          padding: 0px 5%;
          text-align: center;
          pointer-events: none;
        }
        .buttonsBox {
          position: relative;
          width: 90%;
          height: 10%;
          position: relative;
          @include alignCenter();
          flex-direction: row;
          justify-content: space-around;

          button {
            position: relative;
            width: 40%;
            height: 70%;
            background-color: var(--SiteColor3);
            -webkit-text-stroke: 0.5px var(--SiteColor1);
            @include alignCenter();
            flex-direction: row;
            justify-content: space-around;

            p {
              color: var(--SiteColor1);
              font-weight: bolder;
            }
            svg {
              height: 60%;
              width: auto;
              fill: var(--SiteColor1);
            }
          }
        }
        .logoContainer {
          position: relative;
          width: clamp(70px, 15vw, 150px);
          height: clamp(70px, 15vw, 150px);
          pointer-events: none;
          background-color: var(--SiteColor3);
          border-radius: 50%;
          overflow: hidden;
          @include alignCenter();
          opacity: 1;
          transition: opacity 500ms;

          img {
            width: 90%;
            height: auto;
            border-radius: 50%;
          }
        }
        #BgImg {
          position: absolute;
          height: 100%;
          width: 500px;
          opacity: 0.2;
          pointer-events: none;
          z-index: -1;
        }
        .proyectDescription {
          position: absolute;
          width: 80%;
          height: 35%;
          font-size: 1em;
          overflow: hidden;
          pointer-events: none;
          color: var(--SiteColor3);
          text-align: center;
          font-weight: bolder;
          opacity: 0;
          transition: opacity 500ms;
        }

        &:hover {
          .proyectDescription {
            opacity: 1;
            transition: opacity 500ms;
          }
          .logoContainer {
            opacity: 0;
            transition: opacity 500ms;
          }
        }
      }
    }
  }

  #ModelingSection {
    @include alignCenter();
    flex-direction: row;

    .modelingLeftBox {
      position: relative;
      width: 60%;
      height: 100%;
      @include alignCenter();
      flex-direction: column;
      // background-color: lightcoral;

      .modelDisplay {
        width: 100%;
        height: 80%;
        position: relative;

        .modelsContainer {
          position: relative;
          // background-color: lightyellow;
          width: 100%;
          height: 100%;
          z-index: 1;
          overflow: scroll;

          .bmoModelContainer,
          .carModelContainer {
            position: absolute;
            width: 100%;
            height: 100%;

            Canvas {
              position: relative;
              background-color: transparent;
              cursor: pointer;
              width: 100%;
              height: 50%;
              transition: visibility 500ms;
            }
          }
        }
        .platformContainer {
          position: absolute;
          width: 100%;
          height: 20%;
          bottom: 0;
          z-index: 0;
          @include alignCenter();

          .circle {
            position: absolute;
            width: 80%;
            height: 70px;
            border: 2px solid var(--SiteColor3);
            background-color: grey;
            border-radius: 50%;
            z-index: 1;
            // backdrop-filter: blur(5px);
          }
          .border {
            position: absolute;
            top: 60px;
            width: 80%;
            height: 50px;
            border: 10px solid var(--SiteColor3);
            background-color: var(--SiteColor3);
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            opacity: 1;
            z-index: 0;
          }
        }
        .controlersBox {
          position: absolute;
          top: clamp(20px, 5vw, 50px);
          left: clamp(20px, 5vw, 50px);
          width: clamp(100px, 10vw, 200px);
          height: clamp(40px, 2vw, 50px);
          @include alignCenter();
          flex-direction: row;
          z-index: 2;

          button {
            @include MainButtonStyling();
            @include alignCenter();
            border-radius: 0px;

            p {
              position: absolute;
            }
          }
        }
      }
      .modelDescription {
        position: relative;
        width: 95%;
        height: 20%;
        @include alignCenter();
        p {
          position: absolute;
          font-weight: lighter;
          color: var(--SiteColor3);
          text-align: center;
          font-size: clamp(0.2em, 2vw, 0.7em);
          opacity: 0;
        }
      }
    }
    .modelingRightBox {
      // background-color: lightgreen;
      width: 40%;
      height: 100%;
      @include alignCenter();
      gap: 20px;

      h1 {
        text-align: center;
        font-weight: bolder;
        color: var(--SiteColor3);
        // font-size: 3em;
        width: 100%;
        height: 10%;
      }
      p {
        font-weight: bolder;
        color: var(--SiteColor3);
        text-align: center;
        width: 90%;
        height: 25%;
        @include alignCenter();
        padding: 0px 5%;
        font-size: clamp(0.47em, 2vw, 1em);
      }
      ul {
        width: 60%;
        height: 20%;
        @include alignCenter();
        flex-direction: column;
        justify-content: space-evenly;

        li {
          list-style: none;
          @include MainButtonStyling();
          @include alignCenter();
          width: 100%;
          height: 30%;
        }

        .toggled {
          // transition: background-color 0;
          background-color: var(--SiteColor3);
          color: var(--SiteColor1);
          -webkit-text-stroke: 0.5px var(--SiteColor1);
        }
      }
    }
  }

  .TopArrowCircle {
    position: fixed;
    top: 8%;
    right: 10%;
    width: clamp(40px, 4vw, 60px);
    height: clamp(40px, 4vw, 60px);
    border-radius: 50%;
    background-color: var(--SiteColor3);
    @include alignCenter();
    z-index: 1;
    cursor: pointer;
    border: 2px solid var(--SwitchBlue);
    transition: background-color 500ms;

    .arrow {
      margin-top: 10%;
      position: absolute;
      border: 1px solid var(--SiteColor1);
      border-width: 0 7px 7px 0;
      display: inline-block;
      padding: 7px;
      transform: rotateZ(-135deg);
      transition: border 500ms;
    }

    &:hover {
      background-color: var(--SiteColor1);
      transition: background-color 500ms;
      .arrow {
        border: 1px solid var(--SiteColor3);
        border-width: 0 7px 7px 0;
        display: inline-block;
        padding: 7px;
        transition: border 500ms;
      }
    }
  }
}
