#ContactPage {
  display: flex;
  flex-wrap: wrap;
  overflow: visible;

  .CLeftBox,
  .CRightBox {
    flex: 1 1 500px;
    min-height: 50%;
    // background-color: var(--SiteColor2);
  }

  .CLeftBox {
    @include alignCenter();
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;

    .header {
      position: relative;
      width: 90%;
      // background-color: lightcoral;
      height: 15%;
      @include alignCenter();
      flex-direction: column;
      justify-content: space-evenly;

      > * {
        font-weight: bolder;
        color: var(--SiteColor3);
        text-align: center;
      }

      h2 {
        font-size: clamp(1.5em, 5vw, 2.5em);
      }
      h3 {
        font-size: clamp(1em, 4vw, 2em);
      }
    }

    form {
      width: 90%;
      height: 70%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      gap: 0px;

      span {
        position: relative;
        flex: 1 1 500px;
        @include alignCenter();
        overflow: hidden;
        align-items: flex-start;
        justify-content: flex-end;
        // border: 2px solid lightgreen;

        > * {
          margin-left: 5%;
          position: absolute;
          width: 90%;
          border-radius: 10px;
          height: 50%;
        }

        label {
          font-weight: bolder;
          color: var(--SiteColor1);
          z-index: 1;
          pointer-events: none;
          font-size: clamp(0.7em, 2vw, 1em);
          @include alignCenter();
          align-items: flex-start;
          padding-left: 2%;
          background-color: transparent;
          transition: color 500ms, transform 500ms, background-color 500ms;
        }

        input,
        textarea {
          outline: none;
          z-index: 0;
          font-size: clamp(0.7em, 2vw, 1em);
          font-weight: bolder;
          padding-left: 2%;
          background-color: var(--SiteColor3);
          transition: color 500ms;
          color: transparent;

          &:focus,
          &:valid {
            transition: color 500ms;
            color: var(--SiteColor1);

            & + label {
              color: var(--SiteColor3);
              transform: translate(0px, -100%);
              transition: color 500ms, transform 500ms, background-color 500ms;
              background-color: transparent;
            }
          }
        }

        textarea {
          resize: none;
          padding: 1.5% 2%;
          // height: 60%;
          // &:focus,
          // &:valid {
          //   & + label {
          //     transform: translate(0px, -45px);
          //   }
          // }
        }

        .submitButton {
          width: clamp(120px, 20vw, 200px);
          height: clamp(35px, 10vw, 70px);
          padding-left: 0%;
          margin-left: 0%;
          border: 2px solid var(--SiteColor3);
          color: var(--SiteColor3);
          background-color: transparent;
          font-weight: bolder;
          border-radius: 5px;
          font-size: clamp(0.8em, 2vw, 1.2em);
          transition: background-color 500ms, color 500ms, box-shadow 500ms;
          box-shadow: 0px 0px 0px transparent;
          cursor: pointer;
          @include alignCenter();

          p {
            position: absolute;
            @include alignCenter();
            text-align: center;
            width: 100%;
            height: 100%;
            // background: lightcoral;
          }

          &:hover {
            background-color: var(--SiteColor3);
            color: var(--SiteColor1);
            box-shadow: 0px 0px 10px var(--SiteColor3);
            transition: background-color 500ms, color 500ms, box-shadow 500ms;
          }
        }

        &:nth-child(5) {
          align-items: center;
        }
      }
    }
  }

  .CRightBox {
    @include alignCenter();
    justify-content: space-evenly;
    overflow: visible;
    flex-direction: column-reverse;

    .text {
      width: 90%;
      height: 35%;
      @include alignCenter();
      justify-content: space-evenly;

      h2,
      h3 {
        font-weight: bolder;
        color: var(--SiteColor3);
        text-align: center;
      }

      h2 {
        font-size: clamp(0.6em, 3vw, 1.2em);
      }
      h3 {
        font-size: clamp(1em, 3vw, 2.3em);
      }
    }

    .socialMedia {
      width: 90%;
      height: 50%;
      @include alignCenter();
      flex-direction: row;
      justify-content: space-around;
      transform: rotateZ(-25deg) skew(30deg);
      transform-style: preserve-3d;

      span {
        position: relative;
        width: clamp(45.25px, 10vw, 95px);
        height: clamp(40px, 10vw, 80px);
        background-color: black;
        @include alignCenter();
        cursor: pointer;
        box-shadow: -15px 15px 5px var(--SiteColor3);
        transition: box-shadow 500ms;

        div {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(84, 82, 82, 0.728);
          transition: transform 500ms, background-color 500ms;
        }

        .svgBox {
          @include alignCenter();
          background-color: rgba(84, 82, 82, 0.728);

          svg {
            width: 70%;
            height: 70%;
          }
        }

        &:hover {
          transition: box-shadow 500ms;

          div {
            transition: transform 500ms, background-color 500ms;
          }

          & div:nth-child(1) {
            transform: translate(15px, -15px);
          }
          & div:nth-child(2) {
            transform: translate(30px, -30px);
          }
          & div:nth-child(3) {
            transform: translate(45px, -45px);
          }
          & div:nth-child(4) {
            transform: translate(60px, -60px);
          }
          & div:nth-child(5) {
            transform: translate(75px, -75px);
          }
        }
      }

      span {
        &::after {
          position: absolute;
          bottom: -10px;
          right: 5px;
          content: "";
          width: 100%;
          height: 10px;
          background-color: lightslategrey;
          transform: skew(-45deg, 0deg);
        }
        &::before {
          position: absolute;
          content: "";
          top: 5px;
          left: -10px;
          height: 100%;
          width: 10px;
          background-color: lightslategrey;
          transform: skew(0deg, -45deg);
        }
      }

      .insta {
        z-index: 3;

        &:hover {
          box-shadow: -15px 15px 20px rgba(255, 0, 111, 1);

          & div:nth-child(1) {
            background-color: rgba(255, 0, 111, 0.2);
          }
          & div:nth-child(2) {
            background-color: rgba(255, 0, 111, 0.4);
          }
          & div:nth-child(3) {
            background-color: rgba(255, 0, 111, 0.6);
          }
          & div:nth-child(4) {
            background-color: rgba(255, 0, 111, 0.8);
          }

          .svgBox {
            background-color: rgba(255, 0, 111, 1);
          }
        }
      }
      .whats {
        z-index: 1;
        &:hover {
          box-shadow: -15px 15px 20px rgba(73, 242, 79, 1);

          & div:nth-child(1) {
            background-color: rgba(73, 242, 79, 0.2);
          }
          & div:nth-child(2) {
            background-color: rgba(73, 242, 79, 0.4);
          }
          & div:nth-child(3) {
            background-color: rgba(73, 242, 79, 0.6);
          }
          & div:nth-child(4) {
            background-color: rgba(73, 242, 79, 0.8);
          }

          .svgBox {
            background-color: rgba(73, 242, 79, 1);
          }
        }
      }
      .github {
        z-index: 2;
        &:hover {
          box-shadow: -15px 15px 20px rgb(146, 56, 237);

          & div:nth-child(1) {
            background-color: rgba(146, 56, 237, 0.2);
          }
          & div:nth-child(2) {
            background-color: rgba(146, 56, 237, 0.4);
          }
          & div:nth-child(3) {
            background-color: rgba(146, 56, 237, 0.6);
          }
          & div:nth-child(4) {
            background-color: rgba(146, 56, 237, 0.8);
          }

          .svgBox {
            background-color: rgba(146, 56, 237, 1);
          }
        }
      }
      .face {
        z-index: 0;

        &:hover {
          box-shadow: -15px 15px 20px rgba(40, 40, 232, 1);

          & div:nth-child(1) {
            background-color: rgba(40, 40, 232, 0.2);
          }
          & div:nth-child(2) {
            background-color: rgba(40, 40, 232, 0.4);
          }
          & div:nth-child(3) {
            background-color: rgba(40, 40, 232, 0.6);
          }
          & div:nth-child(4) {
            background-color: rgba(40, 40, 232, 0.8);
          }

          .svgBox {
            background-color: rgba(40, 40, 232, 1);
          }
        }
      }
    }
  }
}
