@mixin XBurger {
  #line1 {
    transform: translateY(13px) rotate(225deg);
    transition: transform 450ms;
    transition-delay: 200ms;
  }

  #line2 {
    width: 0px;
    transition: width 100ms;
  }

  #line3 {
    transform: translateY(-14px) rotate(-225deg);
    transition: transform 450ms;
    transition-delay: 200ms;
  }
}

@media (max-width: 600px) {
  .NavBar {
    top: calc(100% - 80px);
    left: 0;
    width: 100%;
    height: 80px;
    transform: translateX(0px);
    flex-direction: row;

    .NavTitle {
      width: 20%;
      height: 100%;
      display: none;

      .Burguer {
        display: none;
      }

      .NavLogo {
        display: none;
      }
    }

    ul {
      position: absolute;
      height: 100%;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0px 0px;
      gap: 1px;

      li {
        width: 20%;
        // margin: 0% 0px;

        &:nth-child(1) {
          margin-top: 0px;
        }
        &:nth-child(4) {
          margin-top: 0px;
        }

        a,
        Link,
        button {
          p {
            display: none;
          }
        }
      }
    }
  }
}

// @media (max-width: 1100px){
//     .NavBar{

//         .Burguer{
//             visibility: visible;
//         }

//         .BToggled{
//             border: 1px solid white;
//             transition: border 500ms;
//             @include XBurger();
//         }

//         ul{
//             top: 60px;
//             right: 0;
//             position: absolute;
//             width: 250px;
//             background-color: black;
//             height: calc(100vh - 60px);
//             flex-direction: column;
//         }

//         .NavToggled{
//             transform: translateX(0px);
//             transition: transform 500ms;
//         }
//         .NavNotToggled{
//             transform: translateX(250px);
//             transition: transform 500ms;
//         }
//     }
// }
