@import "./Functions";


.NavBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    @include alignCenter();
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--SiteColor2);
    z-index: 10;
    overflow: visible;

    .LogoBox{
        position: relative;
        width: 10%;
        height: 100%;
        color: var(--SiteColor1);
        @include alignCenter();
        margin-left: #{"min(20%, 20px)"};
    }


    .Burguer{
        position: absolute;
        right: 1em;
        width: 50px;
        height: 50px;
        background-color: transparent;
        @include alignCenter();
        flex-direction: column;
        justify-content: space-evenly;
        visibility: hidden;
        cursor: pointer;
        z-index: 1;
        border-radius: 50%;
        border: 1px solid transparent;
        transition: border 500ms;

        span{
            position: relative;
            width: 70%;
            height: 3px;
            background-color: var(--SiteColor1);
            box-shadow: 0px 0px 5px var(--SiteColor1);
            transition: width 900ms, transform 700ms;
        }
    }
    
    ul{
        position: relative;
        z-index: 0;
        width: 60%;
        height: 100%;
        @include alignCenter();
        justify-content: space-around;
        flex-direction: row;
        
        li{
            position: relative;
            width: 150px;
            height: 30px;
            list-style: none;
            cursor: pointer;
            @include alignCenter();
            flex-direction: row;

            svg{
                height: 100%;
                width: auto;
                fill: var(--SiteColor1);
            }
            
            a,Link{
                @include alignCenter();
                color: var(--SiteColor1);
                text-decoration: none;
                width: 100%;
                height: 100%;
            }
        }
    }
}
